/* input.css */
@import "tailwindcss";

/* Chỉ định cho Tailwind biết rễ tìm các thẻ class ở đâu */
@source "./templates";
@source "./public/index.html";
@source "./build.js"; /* Quét luôn nếu bạn có lỡ gõ class trong file logic */

/* Bạn có thể định nghĩa thêm các biến CSS hoặc Custom Class ở đây nếu muốn */
@theme {
  --color-primary: #00bfa5;
  --color-shopee: #ee4d2d;
  --color-lazada: #0f136d;
  --color-tiki: #1a94ff;
}